.App {
  
  
}

/*General*/
li {
  list-style: none;
}

img{
  width: 100%;
}

h2 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

/*utility*/
.btn-scifi-to {
  background: purple;
}

.btn-horro-to {
  background: #444;
}

.btn-fantasy-to {
  background:lime
}

.bold-to {
  font-weight: 800;
}

.btn-icon1-to {
  display: inline-block;
  width: 30px;
  height: 35px;
  background: #f4f4f4;
}

.btn-icon2-to {
  display: inline-block;
  width: 70px;
  height: 35px;
  background: blue;
  margin-left: 10px;
}

.paint-to {
  color: blue;
}

.flex-space-to {
  width: 45%;
}

.align-to{
  text-align: center;
  margin-top: 10px;
}

.small-to{
  font-size: 15px;
}

.icon-answer-to {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: blue;
}

/* conventional*/
/*header*/
.header-to{
  width: 100%;
  height: 60px;
  background: #fff;
  color: blue;
}

.container-to {
  max-width: 95%;
  margin: auto;
}

.header-flex-to {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-to {
  font-size: 25px;
  font-weight: 800;
}

.nav-to {
  display: flex;
  align-items: center;
  margin-right: 250px;
}

.nav-to li {
  margin-left: 100px;
  font-size: 17px;
  list-style: none;
}

.user-info-to .btn-icon-to{
  background: greenyellow;

}

.user-icon-to {
  font-size: 10px;
}

.btn-to {
  background: blue;
  outline: none;
  border: none;
  padding: 10px 20px;
  text-align: center;

}

/*hero*/
.hero-to {
  margin-top: 10px;
  height: 70vh;
  width: 100%;
  background: #fff;
  text-align: center;
}

.container-hero-to {
  max-width: 50%;
  margin:auto;
  padding-top: 100px;
}

.container-hero-to h1 {
  font-size: 45px;
  padding-bottom: 20px;
}

.container-hero-to p {
  font-size: 18px;
  padding-bottom: 20px;
  line-height: 2rem;
}

.first-btn-to {
  outline: none;
  border: none;
  padding: 10px 30px;
  font-weight: 800;
  color: #fff;
  background: blue;
}

.second-btn-to {
  outline: none;
  padding: 10px 30px;
  font-weight: 800;
  color: blue;
  background: #fff;
}

/*categories*/
.category-to {
  margin-top: 70px;
}

.category-header-to h3 {
  font-size: 25px;
  margin-bottom: 30px;
}

.category-flex-to {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.category-box-to {
  width: 300px;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  margin: auto;
  
}

/*showcase*/
.showcase-to {
  margin-top: 50px;
  margin-bottom: 10px;
}
.box-flex-to {
  display: flex;
  height: 490px;
  align-items: center;
  width: 100%;
  justify-content: space-between;

}



img {
  width: 100%;
  height: 320px;
}

.box-to {
  width: 280px;
  height: 430px;
  background: #fff;
  text-align: center;
}

.flex-gerne-to {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-top: 10px;
}

.button-to {
  outline: none;
  border: none;
  padding: 5px 20px;
  font-weight: 800;
  border-radius: 7px;
}

.flex-gerne-to p{
  margin: 10px;
}

/*section5*/
.section5-to {
  margin-bottom: 60px;
}
.span-box-to {
  border: 1px solid #444;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/*section6*/

.section6-to {
  margin-bottom: 40px;
  background: #fff;
}
.review-box-to {
  width: 100%;
  background: #fff;
  padding: 20px 0px;
}

.first-flex-review-to{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.first-flex-review-to h2{
  font-size: 35px;
}

.testimonial-review-to{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.customer-pics-to {
  background: blue;
  width: 70px;
  height: 50px;
  border-radius: 100%;
  margin-right: 20px;
}

.customer-review-to {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.customer-review-to h2{
  font-size: 20px;
}

.second-flex-review-to {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;

}

.icon-star-to{
  display: flex;
  align-items: center;
}

.btn-star-to {
  display: inline-block;
  width: 150px;
  height: 30px;
  background:goldenrod;
  margin-right: 10px;
}

.review-btn-to {
  display: inline-block;
  padding: 20px 70px;
  background: #f4f4f4;
  color: blue;

}

/*footer*/

.footer-to {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
  
}

.footer-flex-to {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

.contact-flex-to {
width: 30%;
}

.btn-contact-to {
  display: inline-block;
  width: 150px;
  height: 30px;
  background: blue;
  margin-top: 15px;
}


.footer-categories-flex-to {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -20px;
}

.footer-cat-to h2{
  margin-bottom: 15px;
}

.footer-cat-to form input {
  padding:10px 20px ;
}

.footer-cat-to form .submit-to {
  background: blue;
  color: #fff;
  border: none;
}

/*contactsec2*/
.contactsec2-to {
  background: #fff;
  margin-top: 30px;
  padding: 15px 0;
}

.menu-flex-to {
  display: flex;
  width: 30%;
  justify-content: space-between;

}

/*contactsec3*/
.contactsec3-to {
  background: #fff;
  margin-top: 28px;
  padding: 15px 0;
  margin-bottom: 30px;
}

.contact-profile-header-to h2{
  font-weight: 200;
}

.contact-profile-flex-to {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.contact-profile-pics-to {
  width: 40%;
  height: 350px;
  background: blue;
 
}

.contact-profile-form-to {
  width: 100%;
  display: flex;
  justify-content: ;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.first-form-to {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.field-to {
  display: flex;
  flex-direction: column;
}

.field label{
  font-size: 20px;
}

.field-to input {
  padding: 10px 255px 10px 10px;
  text-align: left;
  margin-top: 10px;
}

.form-submit-to {
  display: inline-block;
  width: 300px;
  padding: 15px 0;
  border: none;
  margin-top: 20px;
  background: blue;
  color: #fff;
}

.submit-container-to{
 display: flex;
 justify-content:end;
}
/* styles*/

.contactsec4-to {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-answer-to {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #f4f4f4;
  color: blue;
  text-align: center;
}

.answer-flex-review-to {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.answer-icon-flex-to{
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.answer-btn-to {
  margin-bottom: 10px;
}

.contactsec5-to {
  margin-bottom: 30px;
}

.contactsec6-to {
  margin-bottom: -50px;
}
